body {
    position: relative;
    overflow: hidden;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif /*comment out Arial, Helvetica, sans-serif*/
    background-color: lightblue;
}

.links {
    top: 20px;
    height: 44px;
}

.links .about {
    background-image: url(images/about.png);
}

.links .portfolio {
    background-image: url(images/portfolio.png);
}

.links button {
    background-color: #409c95;
    border-radius: 50%;/*comment out and add*/
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: block;
    float: left;
    margin-left: 10px;
    opacity: .5
}

.info {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;/*comment out and add*/
    background-color: #979797;
}