body {
    position: relative;
    overflow: hidden;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif /*comment out Arial, Helvetica, sans-serif*/
    background-color: lightblue;
}

#half {
    width: 50%;
    left: 0px;
    top: 0px;
    background-color: #59beb6;
    height: 100%;
    position: fixed;
    display: block
}
#other-half {
    top: 0px;
    right: 0px;
    width: 50%;
    background-color: #EEEEEE;
    height: 100%;
    position: fixed;
    display: block
}

.links {
    margin-top: 20px;
    margin-left: 20px;
    height: 44px;
}

.links .about {
    background-image: url(images/about.png);
    background-color: #409c95;
}

.links .portfolio {
    background-image: url(images/portfolio.png);
    background-color: #cc4210;
    opacity: .5
}

.links button {
    border-radius: 50%;/*comment out and add*/
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: block;
    float: left;
    margin-left: 10px
}
.links button:hover {
    opacity: 1
}

#info {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 500px;/*comment out and add*/
}

#info .about {
    color: #59beb6;
}

#info .work {
    color: #f46842;
}

.profile {
    margin: 80px auto auto auto;
    padding: 0
}

.profile img {
    margin: auto auto auto auto;
    display: block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 15px solid rgba(39, 127, 120, .5)
}
