body {
    background-color: lightblue;
    background-color: #cccccc;
}

#backgroundImage {
    background: url("images/cat.png") no-repeat;
    background-size:contain;
}

/*#backgroundImage2 {*/
/*background: url("images/cat.png") repeat;*/
/*background-size:contain;*/
/*}*/

/*#backgroundImage3 {*/
/*background: url("images/cat.png") repeat-x;*/
/*background-size:contain;*/
/*}*/

/*#backgroundImage4 {*/
/*background: url("images/cat.png") no-repeat;*/
/*background-size: 100% 100%;*/
/*}*/

/*#backgroundImage5 {*/
/*background: url("images/cat.png") no-repeat;*/
/*background-size: cover;*/
/*}*/


h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
p.dotted {border-style: dotted;
    border-bottom: 6px solid red;
    background-color: lightgrey;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}